*{
    margin: 0;padding: 0;
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
    background: pink;
}
.uls{
    width: 100%;
    position: fixed;
    bottom: 10px;
}

.uls li{
    width: 25px;
    height: 25px;
    border:1px solid skyblue;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    color:skyblue;
}
#box{
    width: 100%;
    height: 100%;
   position: relative;
    
}
.one{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: pink;
}
section{
    width: 100%;
    height: 310px;
    background: url(../imgs/index_top.png) no-repeat center;
    background-size: cover;
}
section .mains{
    margin-top: 185px;
    width: 100%;
}
section dl{
    display: inline-block;
    width: 32%;
    text-align: center;
}
section dl dt{
    color:#fff;

}
section dl dd{
    color:orange;
}
section .ps1{
    margin-left: 10%;
    opacity: 0.5;
    font-size: 15px;
}
section .ps2 input{
    width: 250px;
    height: 30px;
    border:none;
    margin-top: 25px;
    font-size: 16px;
}
section .ps2{
    text-align: center;
    position: relative;
}
section span{
    position: absolute;
    left: 245px;top:30px;
}
section span img{
    width: 20px;
    height: 20px;
}
footer{
    width: 100%;
    flex: 1;
    margin-top: 20px;
}
footer .midd{
    width: 100%;
}
footer .midd p{
    width: 100%;
}
footer .midd p span{
    display: inline-block;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: skyblue;
    border-radius: 50px;
    margin-left: 5%;
    margin-top: 10px;
}
footer .main{
    width: 100%;
    margin-top: 20px;
}
footer .main dl{
    width: 48%;
    display: inline-block;
}
footer .main dl dt{
    width: 99%;
}
footer .main dl dt img{
    width: 100%;
}
footer .main dd{
    width: 100%;
}
footer .main dd span{
    float: left;
    text-align: center;
    line-height: 20px;
    
}
footer .main dd span:nth-child(1){
    width: 65%;
}
footer .main dd span:nth-child(1) a{
    display: block;
    text-decoration: none;
    color:#fff;
    background: pink;
    font-size: 14px;
}
footer .main dd span:nth-child(2){
    width: 34%;
    text-align: center;
    background: red;
    color:#fff;
    height: 39px;
    line-height: 39px;
}

.colo{
    background: blue!important;
}
.back{
    
}